In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import plotly.express as px

In [15]:
df = pd.read_csv("/Users/rounaksarkar/Downloads/deskTop/ML:AI/5. NLP Projects/Duplicate-Question-Pair_Detector/train.csv")
df.shape

(404290, 6)

In [16]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [17]:
new_df = df.sample(30000)
print (new_df.isnull().sum())

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [18]:
new_df.duplicated().sum()

0

In [19]:
question_df = new_df[['question1', 'question2']]
question_df.head()

,question1,question2
245620,How can I increse my weight?,How can I increase weight?
249750,How would you explain the difference between f...,"To a beginner, how would you explain the diffe..."
154522,Employee Screening: When you drink water exces...,How much water do I need to drink to dilute a ...
207026,What is the best line said by Phoebe Buffay in...,What are some wise/funny things said by Phoebe...
45249,Where can I find a hacker?,How will I contact a genuine hacker?

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
questions = list(question_df['question1']) + list(question_df['question2'])
questions = [str(q) if not pd.isnull(q) else '' for q in questions]  # Replace NaN values with empty string
cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [21]:
temp_df1 = pd.DataFrame(q1_arr, index=question_df.index)
temp_df2 = pd.DataFrame(q2_arr, index=question_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [22]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
245620,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
249750,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
154522,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
207026,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45249,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106643,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95089,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
140939,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
222807,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114327,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [24]:
temp_df['is_duplicate'] = new_df['is_duplicate']
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
245620,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
249750,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
154522,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
207026,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
45249,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106643,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95089,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
140939,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
222807,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
114327,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(temp_df.iloc[:, 0:-1].values, temp_df.iloc[:,-1].values, test_size=0.2, random_state=1)

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test, y_pred)

0.7438333333333333

In [27]:
confusion_matrix(y_test, y_pred)

array([[3480,  284],
       [1253,  983]])

In [30]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test, y_pred)

0.7313333333333333

In [31]:
confusion_matrix(y_test, y_pred)

array([[3430,  334],
       [1278,  958]])